<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
</div>
<h2></h2>
<table>
    <tr>

        <th>Author's page</th>
    </tr>
{{#author}}

        <tr>
            <td>{{book.author}}</td>
        </tr>
    {{/author}}

        </table>
</body>
</html>